body{
    background-color:white;
}
h1{
    color:black;
    font-size:64px;
    text-align: center;
    font-weight:bold;
    margin-left:10%;
    margin-right:10%;
}
li.navbar{
    display: inline;
    margin: 0px 10px;
    font-size: 24px;
}
ul.navbar{
    text-align:center;
    position: relative;
    display:inline-block;
}
div.navbar{
    text-align: center;
    background-color: lightblue;
}
iframe{
    align-content: center;
    position: relative;
    display: inline-block;
}
.blocktext{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
p.printro{
    margin-left: auto;
    margin-right: auto;
    width:85%;
}
.prhead{
    text-align: center;
}
#storyboard{
    align-content: center;
}